.card {
  padding: 14px 24px 24px;
  margin: 0;

  &_md {
    width: 50%;
    max-width: 650px;
  }

  &__content {
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    overflow: hidden;
    z-index: 1;
  }

  &-header {
    height: 72px;
    padding: 16px;
    font-weight: 500;
    box-sizing: border-box;
    position: relative;
  }

  &-title {
    padding: 16px;
    position: relative;

    &__primary {
      font-size: 24px;
      color: rgba(0, 0, 0, 0.87);
      display: block;
      line-height: 36px;
    }

    &__secondary {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.54);
      display: block;
    }
  }

  &-text {
    padding: 16px;
    font-size: 14px;
  }

  &-actions {
    padding: 16px;
    position: relative;
  }
}