.weather {
  &__city {
    font-size: 3em;
    color: burlywood;
  }

  &__temperature {
    font-size: 9em;
    color: white;
  }
}

.fa-xs {
  font-size: 7em;
}

.fa-10x {
  font-size: 20em;
}

.fa-white {
  color: white;
}
