body {
  background-color: saddlebrown;
}

.fa-xs {
  font-size: 7em;
}

.fa-md {
  font-size: 20em;
}

.fa-white {
  color: white;
}

.weather {
  &__city {
    font-size: 3em;
    color: burlywood;
  }

  &__temperature {
    font-size: 10em;
    color: white;
  }
}