<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <i class="fa fa-md fa-cloud fa-white"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-6">
            <div class="weather__city">
                <span class="pull-right">
                <%= city %>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-6">
            <div class="weather__temperature">
                <span class="pull-right">
                    <%= humanizedTemperature %>
                </span>
            </div>
        </div>
    </div>
</div>
